<template>




  <div class="card" style="margin-top:150px;">
    <h1><img src="Robomatics.png"></h1>
    <div class="background"></div>



    <h1><u>40ᵗʰ Anniversary Quiz</u></h1>

 
  
    <div style="  border: 2px solid black;">
      <br>
      <div style="display: flex; justify-content: center; ">


        <br>
        <button><a href="#/home" @click="redirectHome" style="text-decoration: none;" >➜ Home</a></button>
      <button><a href="#/profile" @click="redirectProfile" style="text-decoration: none;" >➜ Profile</a></button>
      <button> <a href="#/Quiz" style="text-decoration: none;">➜ Quiz</a></button>
      <button><a href="#"  @click="logout" style="text-decoration: none;">➜ Logout</a></button>
      <br>
    </div>




                <!---->
       
                <!---->




    <button class="upload-button grass-green-add-button" style="font-size: 20px;" @click="startquizbutton">Start Quiz</button>
    <br>
    <br>

  </div>

  </div>
</template>
<script>

import VueCookies from 'vue-cookies';
import axios from 'axios';

export default {
  data() {
    return {
      cookieValue: null,
      userid: null,
      showDropdown: true,
      usermark: null,
      username: null,
      connected: false,
        messages: [],
        isNavbarOpen: true,

    };
  },
  methods: {
    toggleDropdown() {
      this.showDropdown = !this.showDropdown;
    },
    redirectProfile(){
      window.location.href = "#/profile";
      this.$router.push('#/profile');
    },
    // Inside the logout method
    logout() {
      // Remove token from localStorage
      //localStorage.removeItem('token');
      VueCookies.remove('access_token');

      // Redirect to the login page (you'll need to define your login route in Vue Router)
      this.$router.push('#/');
    },
    startquizbutton(){
      //alert("Quiz Start");
      window.location.href = "#/QuizAttempt";
    },
    connect() {
				this.ws = new WebSocket('ws://54.169.227.114:8088/user');
				this.ws.onmessage = this.handleMessage;
				this.connected = true;
			},
			disconnect() {
				if (this.ws) {
					this.ws.close();
				}
				this.connected = false;
				console.log("WebSocket is disconnected");
			},
			sendData() {
				var data = JSON.stringify({
						'user': this.user
					});
				this.ws.send(data);
			},
			handleMessage(event) {
        // Clear the array using splice
        this.messages.splice(0, this.messages.length);
				//this.messages.push(event.data);
       // console.log(event.data);
        
       try {
          var jsonData = JSON.parse(event.data);
          jsonData.forEach(item => {
            var email = item.Email;
            var totalMark = item.TotalMark;
            this.messages.push({ email, totalMark });
          });
        } catch (error) {
          console.error("Error parsing JSON:", error);
        }


        //console.log(this.messages);

			},
			handleError(event) {
			this.errorMessage = 'WebSocket error occurred: ' + event.message;
			console.error(this.errorMessage);
			}
  },
  
 
  
}

</script>

<style scoped>
/* Add your CSS styles here */
.upload-button {
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.upload-button:hover {
  background-color: #333;
  color: #fff;
  border-color: #fff;
}

.card {
  font-family: Arial, sans-serif;
  background-color: #fff; /* White background */
  color: #000; /* Black font color */
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 0 auto;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
/* Add your CSS styles here */


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  background-color: #02ff78;
  z-index: 1000;
  
}

.navbar-brand {
  color: #fff;
  text-decoration: none;
  font-size: 11px;
  margin-left: 20px;
  z-index: 1000;
}

.navbar-toggler-icon {
  background-color: #fff;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  min-width: 20%;
  z-index: 1000;

}

.nav-item {
  margin: 0 10px;
  z-index: 1000;

}


.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 8px;
  z-index: 1000;

}

@media (max-width: 1500px) {
  .navbar-nav {
    flex-direction: column;
    align-items: left;
    background-color: #000000;
    position: absolute;
    width: 40%;
    left: 0;
    right: 0;
    z-index: 1001;
  }

  .nav-item {
    margin: 2px 0;
    z-index: 1001;
    
  }
}

      
    /* Styling for the grass green alert button */
    .grass-green-add-button {
      padding: 10px 20px;
      background-color: #3CB371; /* Use your preferred grass green color code */
      color: white;
      border: 2px solid #2E8B57; /* Use a slightly darker shade of grass green for the border */
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }
    
    /* On hover effect */
    .grass-green-add-button:hover {
      background-color: #2E8B57; /* Use a slightly darker shade of grass green on hover */
    }
    
    /* On click effect */
    .grass-green-add-button:active {
      background-color: #228B22; /* Use a darker shade of grass green on click */
    }


    input[type=text], textarea, input[type=email], input[type=password], input[type=tel], input[type=url], input[type=search], input[type=date] {
    padding: 10px;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
    line-height: 24px;
    color: #555;
    background-color: #f1f1f1;
    border: none;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}
input[type=text], textarea, input[type=email], input[type=password], input[type=tel], input[type=url], input[type=search], input[type=date], .material.woocommerce-page[data-form-style="default"] input#coupon_code {
    background-color: rgba(0,0,0,0.1);
    border-radius: 4px;
    border: 2px solid rgba(0,0,0,0);
}
/* /end Codepen Specific */
/* Ladder Navigation */
  #leaderboard {
      padding:50px;
  }
  .ladder-nav {
      display:flex;
      flex-wrap:wrap;
      align-items: center;
      background:#5055CB;
      padding:10px 25px;
      border-radius:10px;
      border:1px solid #686EF9;
  }
  .ladder-title {
    flex:2;
  }
  .ladder-search {
    flex:1;
    padding-right:25px;
  }
  .ladder-title {
    font-size:20px;
    color:#3eec08!important;
    font-weight:bold;
    text-transform:uppercase;
  }
  .ladder-search input {
      color:white
  }
  .ladder-search input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #888DFF;
  }
  .ladder-search input::-moz-placeholder { /* Firefox 19+ */
      color: #888DFF;
  }
  .ladder-search input:-ms-input-placeholder { /* IE 10+ */
      color: #888DFF;
  }
  .ladder-search input:-moz-placeholder { /* Firefox 18- */
      color: #888DFF;
  }
/* /end Ladder Navigation */
/* Leaderboard Results */
.leaderboard-results {
  text-align:left;
  border-collapse: collapse;
}
.leaderboard-results thead th {
  padding: 25px;
  color:#747474;
  font-size:14px;
  font-weight:bold;
}
.leaderboard-results tbody td {
  padding:15px 25px;
  background:#1a1a1a;
  font-size:16px;
  border-bottom:5px solid #232323;
}
.leaderboard-results tbody td:nth-of-type(7) {
  font-weight:bold;
}
.leaderboard-results tbody tr:hover td {
    background:#1d1d1d;
}
.leaderboard-results tbody tr {
  color:#747474;
}
.leaderboard-results tbody tr:first-child {
  color:#10e900;
}
.leaderboard-results tbody span {
  font-weight:bold;
  padding:10px 15px;
  border-radius:50%;
}
.leaderboard-results tbody tr:first-child span {
  background:#5055CB;
  color:white;
}
.leaderboard-results tbody tr span {
  background:#262626;
  color:#747474;
}

th {
  background-color: #000000; /* Bright yellow */
  color: white;
}



::selection {color:#fff;background:#7E858C;}

::-moz-selection {color:#fff;background:#7E858C;}

body{ 
    font-family: monospace;
  background-color: #1d212b;
}

.card-container{ 
  perspective: 700;
}

.businesscard{
  position: relative;
	height:320px;
	width:427px;
   color: #252B37;
  text-transform: uppercase;
  margin-left:auto;
  margin-right:auto;
  margin-top: 50px;
  transition: all 0.9s ease-in;
  transform-style: preserve-3d;

}

.businesscard:hover{ 
  transform: rotateY(180deg);
}

.front, .back{
  height:320px;
  box-shadow: 0px 0px 43px -10px black;	
	width:427px;
  position: absolute;
  cusor: pointer;
  top: 0;
  left: 0;
  backface-visibility:hidden;
  padding: 10px;
  border-radius: 2px;
}

.front{ 
  background-color: #151823;
  color: #D3D4D9;
      animation: textColor 10s ease infinite;
}

.back{ 
  transform: rotateY(180deg); 
  background-color: #DADADA; 
  color: #2518D8; 
  font-size: 1.2em;
}

hr{
  border: 3px solid #3A869E;
}

h1{ font-size: 3em;}

img{ border-radius: 100px;}

p{ font-size: 1.4em; font-weight: 700;}

.info{
  margin-top: 100px;
  background-color: white;
  margin-left: 10px;
  width: 250px;
  padding: 50px;
  text-align:center;
}

@keyframes textColor {
  0% {
    color: #7e0fff;
  }
  50% {
    color: #0fffc1;
  }
  100% {
    color: #7e0fff;
  }
}





.card {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 0 auto;
  z-index: 1000;
}

.card img {
  max-width: 100%;
  height: auto;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
</style>
