<template>
    <div class="container">
      <h1>Quiz Competition</h1>
      <div class="content">
        <div v-if="connected">
          <div v-if="messages.length > 0" class="message-list">
            <span v-for="(msg, index) in messages" :key="index" class="message-dot">{{ msg }}</span>
          </div>
          <div v-else>
            <p style="color:white;">Loading Question...</p>
          </div>
        </div>
        <div v-else>
          <!-- No need for a Connect button -->
        </div>
      </div>
      <div class="fixed-buttons"  v-if="!answered">
        <button class="button square blue" @click="sendOption('A')">A</button>
        <button class="button square red" @click="sendOption('B')">B</button>
        <br>
        <button class="button square green" @click="sendOption('C')">C</button>
        <button class="button square yellow" @click="sendOption('D')">D</button>
      </div>
      <div v-else>
          <p style="color:white;">Answer submitted. Thank you!</p>
        </div>
      
    </div>
  </template>
  
  
  <script>
    import VueCookies from 'vue-cookies';
  import axios from 'axios';

  export default {
    data() {
      return {
        ws: null,
        connected: false,
        messages: [],
        questionid: null,
        userid: null,
        answered: false, // Track whether the user has answered
      };
    },
    created() {
      this.connect(); // Automatically connect when the component is created
    },
    mounted(){
    // Use $cookies.get() to retrieve the value of a cookie
    const token= VueCookies.get('access_token');
      //console.log(token);
      if(token !== null){
        window.location.href = "#/Testing2";
      }
      this.cookieValue = token;
       // Now, perform an HTTP GET request using Axios
       if (token) {
        axios.get('http://54.169.227.114:8088/userid', {
          headers: {
            Authorization: `Bearer ${token}`,
          },
        })
        .then(response => {
          // Handle the response here
          console.log(response.data);
          this.userid = response.data;
        });
    }
    },
    methods: {
        sendOption(option) {
        if (this.connected) {
            if(this.questionid === null){
                alert("Wait for question.")
            }else{
                //alert("Question :" + this.questionid + " . User ID ("+  this.userid+ ") answer is :" + option); // Display an alert with the selected option
                axios.post('http://54.169.227.114:8088/mark/' + this.userid + '/' + this.questionid + '/' + option)
                .then(response => {
                    console.log('Response:', response.data);
                    alert("Submitted");
                    this.answered = true;
                    // Handle the response data here
                })
                .catch(error => {
                    console.error('Error:', error);
                    // Handle any errors here
                });

           
            }
        }else{
            alert("Submit Fail");
        }
        },
      
      connect() {
        this.ws = new WebSocket('ws://54.169.227.114:8088/user'); // Replace with your websocket server URL
  
        this.ws.onopen = () => {
          console.log('WebSocket connection established');
          this.connected = true;
          //this.messages.push('Connected to WebSocket');
        };
        this.ws.onmessage = (event) => {
        console.log('Received message:', event.data);
        this.answered = false;
        this.$nextTick(() => {
            try {
    console.log('Received message:', event.data);
    this.$nextTick(() => {
      // Parse event.data as JSON
      const messageObject = JSON.parse(event.data);

      // Extract question from messageObject
      const question = messageObject.question;
      this.questionid = messageObject.questionId;
      console.log(this.questionid);

      // Update messages with the extracted question
      this.messages = [question];
    });
  } catch (error) {
    console.error('Error:', error);
    // Handle the error here, if needed
  }




        });
    };

        
  
        this.ws.onclose = () => {
          console.log('WebSocket connection closed');
          this.connected = false;
          //this.messages.push('Disconnected from WebSocket');
          alert('WebSocket connection closed'); // Show an alert to the user
        };
      },
      disconnect() {
        this.ws.close();
        this.connected = false;
        this.messages.push('Disconnected from WebSocket');
      }
    }
  };
  </script>
  
<style scoped>
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.content {
  text-align: center;
  margin-bottom: 20px;
}

.message-list {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.message-dot {
  display: block;
  margin-bottom: 5px;
  list-style-type: disc;
  color: black;
}

.fixed-buttons {
  text-align: center;
}

.button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  font-size: 16px;
}

.square {
  width: 100px;
}

.blue {
  background-color: blue;
  color: white;
}

.red {
  background-color: red;
  color: white;
}

.green {
  background-color: green;
  color: white;
}

.yellow {
  background-color: yellow;
  color: black;
}

@media screen and (max-width: 600px) {
  .button {
    font-size: 14px;
  }
}
</style>